section.article
    .container
        .article__top
            h2.article__title.h2 Серверный JavaScript
        .article__item
            .article__quotation
               +icon('quotation')
            .article__content
                p.article__text Разработчики и клиенты часто неправильно понимают, что такое система. Они видят графический интерфейс и думают, что он и есть система. Они определяют систему в терминах графического интерфейса и считают, что должны сразу начать работу с графическим интерфейсом. Они не понимают важнейшего принципа: ввод/вывод не важен.
                span.article__auther — Р. Мартин