section.banner
    .container
        .banner__inner
            .banner__text
                | Реклама на <a href="#">blabla.com</a>
            .banner__bg
                img(src="/img/banner-1.jpg" alt="Реклама на blabla.com").object-fit