.conclusion {
  padding: 4.5rem 0 6rem;
  @include large-mobile {
    padding: 3rem 0;
  }
  &__title {
    margin-bottom: 2.5rem;
    @include large-mobile {
      margin-bottom: 2rem;
    }
  }
  &__content {
    color: #202326;
    @include large-mobile {
      @include line-height(14, 18)
    }
  }
}